<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.test03.persistence.UserMapper">
    <select id="getUser">
        select * from userinfo where id=#{id }
    </select>
    <select id="userList">
        select * from userinfo
    </select>
    <insert id="userInsert">
        insert into userInfo values(default, #{id }, #{pw }, #{name }, #{email }, #{tel }, default, default, default, #{lev } )
    </insert>
    <update id="userUpdate">
        update userInfo set pw=#{pw }, name=#{name }, email=#{email }, tel=#{tel }
    </update>
    <update id="editAct">
        update userInfo set act=#{act }
    </update>
</mapper>